<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{{ project.name }}</title>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'/>

 {% block stylesheets %}
  <link href="{{ path('css/style.css') }}" rel="stylesheet" media="all"/>
 {% endblock %}
 
</head>
<body>
    <table border="0" cellspacing="0" cellpadding="0" height="48" width="100%">
        <tr>
            <td class="header-top-left">
                <img src="{{ path('img/logo.png') }}" border="0" />
            </td>
            <td class="header-top-center">
                {% include 'packageNames.twig' %}                
            </td> 
            <td class="header-top-right">
                {% block langIcons %}
                <a href="{{ path('../wiki/trac/toba/wiki/WikiStart.html') }}" title="Navegar hacia la documentación WIKI">
                    <img border='0' style='vertical-align: middle' src="{{ path('img/wiki-small.png') }}" />
    		</a>    		
                <img height=64 border='0' style='vertical-align: middle' src="{{ path('img/php.png') }}" />                  
                <a href="{{ path('../api_js/index.html') }}"  title="Navegar hacia la documentación JAVASCRIPT">
                    <img border='0' style='vertical-align: middle' src="{{ path('img/javascript-small.png') }}" />
    		</a>                
                {% endblock langIcons %}                
            </td>        
        </tr>
        <tr>
            <td colspan="3" class="header-line">
                <img src="{{ path('img/empty.png') }}" width="1" height="1" border="0" alt=""  />
            </td>
        </tr>
        <tr>
            <td colspan="3" class="header-menu">
                <img src="{{ path('img/empty.png') }}" width="1" height="10" border="0" alt=""  />
            </td>
        </tr>
        <tr>
            <td colspan="3" class="header-line">
                <img src="{{ path('img/empty.png') }}" width="1" height="1" border="0" alt=""  />
            </td>
        </tr>
    </table>
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr valign="top">
            <td class="menu" width="200" >
                {% block classSidebar %}{% endblock %}
            </td>
            <td>
                {% block content %}{% endblock %}
            </td>
        </tr>
    </table>    
    {% block footer %}
        <div class="credit">
	   <hr class="separator" />
            Desarrollado por <a href="http://www.siu.edu.ar">SIU</a>.
	<br />
            Documentación generada con <a href="{{phpdocwebsite}}">phpDocumentor</a>
	</div>
    {% endblock footer %}
</body>
</html>
